@font-face {
  font-family: 'Avenir Next';
  font-weight: 400;
  src: url("../fonts/Avenir-Next.ttc") format("truetype");
}

* {
  margin: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Avenir Next';
}

button {
  cursor: pointer;
}

.App {
  position: relative;
  height: 100%;
}

.main {
  width: 80vw;
  position: fixed;
  top: 0px;
  left: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.main .header {
  min-height: 5rem;
  background-color: #FFFFFF;
  top: 0px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8rem 0 5rem;
  -webkit-box-shadow: 0px 2px 8px 3px #D4D4D450;
          box-shadow: 0px 2px 8px 3px #D4D4D450;
}

.main .header-search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.main .header-search__input input {
  width: 23.8125rem;
  height: 2.5rem;
  padding-left: 1rem;
  font-size: 0.875rem;
  border-radius: 2px;
  border: 1px solid #CACACA;
  background-color: #F7F7F7;
}

.main .header-search__input input:focus {
  border: 1px solid #004892;
  outline: none;
}

.main .header-search__icon {
  position: absolute;
  right: .5rem;
  padding: .25rem;
  border-radius: 25%;
}

.main .header-search__icon:hover {
  background-color: #CACACA;
  cursor: pointer;
}

.main .header-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .header-profile__avatar {
  border-radius: 50%;
  width: 2.25rem;
  margin-right: .75rem;
}

.main .header-profile__dropdown {
  padding: .75rem;
}

.main .header-profile__dropdown:hover {
  background-color: #CACACA;
  border-radius: 3px;
  cursor: pointer;
}

.main-titleBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #F7F7F7;
  padding: 0 5rem;
  min-height: 5rem;
  z-index: 99;
}

.main-titleBar__text {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: #3A3A3A;
  font-weight: 400;
}

.main-titleBar__button {
  margin: 0 0 .5rem 0;
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: 600;
  color: #003B77;
}

.main-titleBar__button:focus {
  outline: none;
}

.main-titleBar__button:hover {
  font-weight: bold;
  text-decoration: underline;
  color: #004892;
}

.main .displayList, .main .inventoryList {
  overflow: scroll;
  height: 100%;
  background-color: #F7F7F7;
  top: 10rem;
  padding: .5rem 3rem;
  width: 80vw;
}

.main .displayList .inventoryContainer .tableContainer, .main .inventoryList .inventoryContainer .tableContainer {
  width: 100%;
}

.main .displayList .inventoryContainer .tableContainer table, .main .inventoryList .inventoryContainer .tableContainer table {
  border: solid 2px #CACACA;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  height: 100%;
}

.main .displayList .inventoryContainer .tableContainer table thead > tr, .main .inventoryList .inventoryContainer .tableContainer table thead > tr {
  background-color: white;
  border-collapse: collapse;
  text-align: center;
  height: 15vh;
}

.main .displayList .inventoryContainer .tableContainer table .product h4, .main .inventoryList .inventoryContainer .tableContainer table .product h4 {
  margin-bottom: 0;
  color: #004892;
}

.main .displayList .inventoryContainer .tableContainer table .product p, .main .inventoryList .inventoryContainer .tableContainer table .product p {
  margin-top: 0;
  color: #F7F7F7;
}

.main .displayList .inventoryContainer .tableContainer table tbody > tr:nth-child(2n), .main .inventoryList .inventoryContainer .tableContainer table tbody > tr:nth-child(2n) {
  background-color: white;
  margin: 0;
  min-height: 5vh;
}

.main .displayList .inventoryContainer .tableContainer table td, .main .inventoryList .inventoryContainer .tableContainer table td {
  margin: 0;
  border-collapse: collapse;
  height: 15vh;
}

.navbar-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 20vw;
  background-color: #004892;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-container .navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.5rem;
  text-align: center;
  width: 100%;
}

.navbar-container .navbar-logo:hover {
  cursor: pointer;
  background-color: #145ba1;
}

.navbar-container .navbar {
  margin-top: 9rem;
}

.navbar-container .navbar-inventory, .navbar-container .navbar-locations, .navbar-container .navbar-users {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1.5rem 3rem;
  width: 100%;
  color: #FFFFFF75;
}

.navbar-container .navbar-inventory:hover, .navbar-container .navbar-locations:hover, .navbar-container .navbar-users:hover {
  cursor: pointer;
  background-color: #145ba1;
  color: white;
}

.navbar-container .navbar-inventory__text, .navbar-container .navbar-locations__text, .navbar-container .navbar-users__text {
  margin-left: 2rem;
}

@media screen and (max-width: 1025px) {
  .navbar-container .navbar-inventory, .navbar-container .navbar-locations, .navbar-container .navbar-users {
    padding: 1.5rem 2rem;
  }
  .navbar-container .navbar-inventory__text, .navbar-container .navbar-locations__text, .navbar-container .navbar-users__text {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 770px) {
  .navbar-container .navbar-inventory, .navbar-container .navbar-locations, .navbar-container .navbar-users {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar-container .navbar-inventory__text, .navbar-container .navbar-locations__text, .navbar-container .navbar-users__text {
    display: none;
  }
  .main .header {
    padding: 0 3rem 0 3rem;
  }
  .main-titleBar {
    padding: 0 3rem 0 3rem;
  }
}

.warehouse {
  position: absolute;
  top: 7rem;
  left: 19vw;
  width: 80vw;
  min-height: 100vw;
  padding: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.warehouse .warehouse h1 {
  font-size: 1.5rem;
  margin-left: 5vw;
}

.warehouse .warehouse a:link {
  color: #003B77;
  text-decoration: none;
}

.warehouse .warehouse a:visited {
  color: #003B77;
  text-decoration: none;
}

.warehouse .warehouse .warehouseInfo {
  margin-top: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.warehouse .warehouse .warehouseInfo .address {
  color: #ADADAD;
}

.warehouse .warehouse .warehouseInfo .contact {
  color: #ADADAD;
}

.warehouse .warehouse .warehouseInfo .inventory {
  color: #ADADAD;
}

.warehouse .warehouse .warehouseInfo h2 {
  font-size: 1.125rem;
  color: #7C7C7C;
}
/*# sourceMappingURL=App.css.map */