$dark-blue: #003B77;
$light-blue: #004892;
$darkest-grey: #3A3A3A;
$background-grey: #DEDEDE;

// @font-face {
//   font-family: 'Avenir Next';
//   font-weight: 400;
<<<<<<< HEAD
//   src: url('./fonts/Avenir-Next.ttc') format('truetype');
=======
//   src: url('./Assets/Typography/Avenir Next.ttc') format('truetype');
>>>>>>> abb0755ad9819a58c031bb0126676dfb067ac27a
// }
