$dark-blue: #003B77;
$light-blue: #004892;
$darkest-grey: #3A3A3A;
$background-grey: #DEDEDE;

// @font-face {
//   font-family: 'Avenir Next';
//   font-weight: 400;
//   src: url('./Assets/Typography/Avenir Next.ttc') format('truetype');
// }
